* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: ;
}

h1 {
	color: pink;
	text-align: center;
	
}

label,input {
	border: 2px solid pink;
}

.img-hover-contaioner {
	width: 50%;
	min-width: 300px;
	margin: 20px auto;
	position: relative;
}

.img-hover-container img {
	width: 100%;
}

.img-hover-container p {
	position: relative;
	width: 80%;
	bottom: 10px;
	left: 10%;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	color: pink;
	opacity: 0;
	transition: .5s;

}

.img-hover-container:hover img {
	filter: brightness(50%);

}

.img-hover-container:hover p {
	opacity: 1;
	transition: .5s;
}




