* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #515C61;
}

h1 {
	font-family: 'Dancing Script', cursive;
	color: pink;
	text-align: center;
	
}

form {
	width: 75%;
	margin: auto;
	display: flex;
	justify-content: center;
	border: 2px solid pink;
}

/*input {
	width: 75%;
	margin: auto;
	padding: 10px;
    float: left;
	display: flex;
	font-size: 10px;
	justify-content: center;
	
	border: 2px solid pink; 
 }
*/
 label {
 	border: 2px solid pink;
 	width: 100%;
    padding: 10px;
    float: left;
    font-size: 22px;
 }

 button {
 	width: 25%;
 	font-family: 'Cinzel', serif;
 	font-size: 22px;
 }
    
 /* ul li:nth-child(odd) {
  	background: #000;
  } */
	
/*ul li:hover {
	background: red;
}

*/

.img-hover-contaioner {
	width: 50%;
	min-width: 100px;
	margin: 20px auto;
	position: relative;
}

.img-hover-container img {
	height: calc(100vh -50px);
	display: flex;
	width: 100%;
	
}

.img-hover-container p {
	position: relative;
	width: 80%;
	bottom: 10px;
	left: 10%;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	color: pink;
	opacity: 0;
	transition: .5s;

}

.img-hover-container:hover img {
	filter: brightness(50%);

}

.img-hover-container:hover p {
	opacity: 1;
	transition: .5s;
}




