* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #515C61;
	text-align: left;
	font-size: 25px;

}

h1 {
	font-family: 'Dancing Script', cursive;
	color: #F2E9DC;
	text-align: center;
	
}

form {
	width: 50%;
	margin: auto;	
	display: flex;
	justify-content: center;
	border: 2px solid #F2E9DC;
}

/*input {
	width: 75%;
	margin: auto;
	padding: 10px;
    float: left;
	display: flex;
	font-size: 10px;
	justify-content: center;
	
	border: 2px solid pink; 
 }
*/
 label {
 	border: 10px solid #F2E9DC;
 	border-style: double;
 	width: 100%;
    padding: 10px;
    float: left;
    background: #C69F89;
    text-align: center;
    color: #F2E9DC;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;


 }

 button {
 	border: 10px solid #F2E9DC;
 	border-style: double;
 	width: 25%;
 	background: #C69F89;
 	font-family: 'Dancing Script', cursive;
 	font-size: 22px;
 	cursor: pointer;
 }

 input {
 	text-align: center;
 	font-size: 15px;
 	cursor: pointer;

 }

 ul {
 	margin: 10px 20%;
 	padding: 10%;
 	background: #C69F89;
 	border: 10px solid #F2E9DC;
 	border-style: double;
 	list-style: none;
 	cursor: pointer;
 }

 ul:hover {
 	background-color: #000;
 	color: #fff;
 }
    
 /* ul li:nth-child(odd) {
  	background: #000;
  } */
	
/*ul li:hover {
	background: red;
}

*/


.img-hover-contaioner {
	width: 50%;
	min-width: 100px;
	margin: 20px auto;
	position: relative;
}

.img-hover-container img {
	height: calc(100vh -50px);
	display: flex;
	width: 100%;
	
}

.img-hover-container p {
	position: relative;
	width: 80%;
	bottom: 10px;
	left: 10%;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	color: #F2E9DC;
	opacity: 0;
	transition: .5s;

}

.img-hover-container:hover img {
	filter: brightness(50%);

}

.img-hover-container:hover p {
	opacity: 1;
	transition: .5s;
}

.close-to-do {
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
	color: #F2E9DC;
}




